#portfolio {
    background: linear-gradient(256deg, #37b33d, #8a3dbc);
    height: 100vh;
    align-content: center;
    justify-content: center;
    padding: 150px 0;
}

.portfolio-body {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.portfolio-body h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.portfolio-body .container{
    display: block;
}

@media (max-width: 640px) {
    #portfolio {
        padding: 30px 0;
    }

    .portfolio-body h1 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

}

@media (max-width: 432px) {
    #portfolio {
        padding: 30px 0;
    }

    .portfolio-body h1 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

}
