.container.technology-stack {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: white;
    color: black;
    font-family: 'Merriweather', serif;
    height: 100vh;
    width: 100vw;
    padding: 200px 0;
}

.container.technology-stack .section-title {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 20px;
    font-size: 3.5rem;
    width: 100%;
    text-transform: uppercase;
}

.row.tech-stack-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 65px;
    margin-top: 20px; 
    font-size: 3.2rem;
    text-transform: uppercase;
}

.row.tech-stack-logos h2 {
    font-size: 1.5rem;
}

@media (max-width: 640px) {
    .container.technology-stack {
        justify-content: flex-start;
        padding: 20px 10px;
        margin-bottom: 50px;
    }

    .container.technology-stack .section-title {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 10px;
        font-size: 1.5em;
        width: 100%;
    }

    .row.tech-stack-logos {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 10px;
        margin-top: 20px; 
        font-size: 1.5rem;
    }

    .row.tech-stack-logos h2 {
        font-size: .6rem;
    }
   
}

@media (max-width: 432px) {
    .container.technology-stack {
        justify-content: flex-start;
        padding: 20px 10px;
        margin-bottom: 50px;
    }

    .container.technology-stack .section-title {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 2rem;
        width: 100%;
    }

    .row.tech-stack-logos {
        display: grid;
        justify-content: center;
        gap: 10px;
        margin-top: 20px; 
        font-size: 3rem;
    }

    .row.tech-stack-logos h2 {
        font-size: 1rem;
    }
   
}
