.technology-stack {
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    border: solid;
    border-width:3px;
}

.techstack-title {
    font-family: 'Montserrat', sans-serif;
    height: 1.5rem;
    white-space: nowrap;
    font-size: 1.5rem;
    margin-top: 20px;
}

.tech-stack-logos {
    vertical-align: middle;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

@media only screen and (max-width: 320px) {
    .technology-stack {
        border-width: 2px;
        flex-direction: column;
        margin: 10px 0;
    }

    .tech-stack-logos {
        gap: 10px;
    }

    .techstack-title {
        font-size: 1rem;
    }

}

@media only screen and (min-width: 321px) and (max-width: 480px) {

    .technology-stack {
        border-width: 2px;
        flex-direction: column;
        margin: 10px 0;
    }

    .tech-stack-logos {
        gap: 10px;
    }

    .techstack-title {
        font-size: 1.5rem;
    }

}

@media only screen and (min-width: 481px) and (max-width: 600px) {

    .technology-stack {
        flex-direction: column;
        margin: 10px 0;
    }

    .tech-stack-logos {
        gap: 5px;
    }

    .techstack-title {
        font-size: 1.5rem;
    }

}

@media (min-width: 600px) and (max-width: 1024px) and (orientation: landscape) {

    .technology-stack {
        flex-direction: column;
        margin-bottom: 10px;
        align-items: center;
    }

    .tech-stack-logos {
        gap: 10px;
    }

    .techstack-title {
        font-size: 1.5rem;
    }

}

@media (min-width: 601px) and (max-width: 1024px) and (orientation: portrait) {

    .technology-stack {
        margin-top: 10px;
        flex-direction: column;
        margin-bottom: 10px;
        align-items: center;
    }

    .tech-stack-logos {
        gap: 20px;
    }

    .techstack-title {
        font-size: 3rem;
    }

}