.techstack-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 0;
    width: auto;
    height: auto;
    border: solid;
    border: 20px;
    border-radius: 10%;
    background: green;
    padding: 10px 5px;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}

.techstack-card-icon {
    font-size: 2rem;
    color: white;
}

.tech-name {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: white;
    align-content: center;
}

@media only screen and (max-width: 320px) {
    .techstack-card {
        margin: 3px 0; 
        padding: 3px;
        width: auto;
        height: auto;
    }
    .techstack-card-icon {
        font-size: .7rem;
    }

    .tech-name {
        font-size: .7rem;
    }
    
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
    .techstack-card {
        margin: 3px 0; 
        padding: 3px;
        width: auto;
        height: auto;
    }
    .techstack-card-icon {
        font-size: 1.5rem;
        padding: 2px;
    }

    .tech-name {
        font-size: 1.3rem;
    }
    
}