@media (max-width: 479px) {

    /* Center header contents */
    #header .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    /* Adjust spacing for smaller screens */
    #header .name {
        margin-top: 10px;
    }

    /* Center profile image */
    .about-me .row {
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        flex-direction: column;
    }

    .photo-div {
        display: flex;
        justify-content: center;
    }

    .profile-photo {
        height: 15rem;
        width: 15rem;
    }

    .profile-description {
        font-size: 1em;
    }

    .btn-hero {
        font-size: .8rem;

    }

    .btn-hero svg, .btn-hero i {
    height: 1rem; /* Adjust SVG/icon height as needed */
    width: auto;
    margin-right: 5px; /* Adjust margin between icon and text */
    }

    .lead {
        font-size: .65em;
    }

    .stack-icon {
        display: flex;
        align-items: center;

    }
    .technology-stack-body .brands-tech {
        margin-right: 20px;
        font-size: 2.5rem !important;
    }

    .technology-stack-body h3{
        font-size: 1rem;
    }
}

body {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;

}

.nav-box-contact {
    background-color: whitesmoke;
    display: inline-block;
}

#header {
    justify-content: center;
    align-items: center;
    font-family: 'Merriweather', serif; 
    height: 100vh;
}
#technology-stack {
    display: inline-flexbox;
    text-align: center;
    background-color: whitesmoke;
    color: black;
    font-family: 'Merriweather', serif; 
}

.technology-stack-body {
    display: inline-block;
    padding-top: 50px;
    height: 100vh;
}

#technology-stack h1{
    display: inline-block;
}

#portfolio {
    padding: 50px;
    color: white;
    text-align: center;
}

.carouselExampleDark {
    display: inline;
}

.mb-3 {
   color: black;
}

.footer-icon {
    color: whitesmoke;
}
.full-stack {
    font-family:'Montserrat-Bold', sans-serif;
}
.nav-link, .name {
    color: black;
}
.grad1 {
    background: linear-gradient(256deg, #37b33d, #8a3dbc);
    background-size: 400% 400%;
    height: 100vh;

    -webkit-animation: AnimationName 37s ease infinite;
    -moz-animation: AnimationName 37s ease infinite;
    -o-animation: AnimationName 37s ease infinite;
    animation: AnimationName 37s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:20% 0%}
    50%{background-position:81% 100%}
    100%{background-position:20% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:20% 0%}
    50%{background-position:81% 100%}
    100%{background-position:20% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:20% 0%}
    50%{background-position:81% 100%}
    100%{background-position:20% 0%}
}
@keyframes AnimationName {
    0%{background-position:20% 0%}
    50%{background-position:81% 100%}
    100%{background-position:20% 0%}
}
.tech-logos
{
    display: inline-flexbox;
    justify-content: center;
    align-items: center;
}

.nav-box {
    display: flex;
}

.carousel-portfolio {
    height: 100%;
}

.brands-tech {
    font-size: 10rem;
}