.section-title {
  padding: 5px 5px;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  font-size: 5rem;
  width: 100%;
  text-transform: uppercase;
  font-family: 'Merriweather', serif;
}

